<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>About {{company}}</h1>
    <img src="./images/me.png" />
    <p>Created by {{author}}</p>

  </body>
</html>