<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}}
    <h1>We are always here to help you</h1>
    <h2>Please contact with us via below details</h2>
    <p>Myself {{name}}, here is my email {{email}}</p>

        {{>footer}}

  </body>
</html>