<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />

  </head>
  <body>
    {{>header}}


    <form class="main-content">
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  
    <p>Created by {{author}}</p>

    {{>footer}}
        <script src="./js/app.js"></script>
  </body>
</html>